# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribuição / build
build/
dist/
*.egg-info/

# Ambientes virtuais
.venv/
venv/
env/

# =========================
# Jupyter / Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
data/logs/

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp
*.swp
*.bak

# =========================
# Saídas intermediárias e processadas
# =========================
data/interim/
data/processed/

data/retrieval/
data/raw/documents/temp/

data/raw/selected/amostra_2016_50_pdfs.csv
data/raw/selected/amostra_2021_50_pdfs.csv
data/raw/selected/amostra_2022_50_pdfs.csv
# =========================
# Modelos / embeddings / bases vetoriais futuras
# =========================
*.faiss
*.index
*.parquet
*.npy
*.npz
*.pkl
*.joblib
*.sqlite
*.db